body {
  margin: 0;
  padding: 0;
  
  font-family: Roboto, Arial, sans-serif;
    
  color: #ffffff;  
}

body > input[type="radio"] {
  display: none;
}

.site_wrapper {
  margin: 0 auto;
  min-width: 1200px;
  
  background-repeat: no-repeat;
  background-position: top center;
  
  -webkit-transition: background-image 0.5s ease,
    background-color 0.5s ease;
  
  transition: background-image 0.5s ease,
    background-color 0.5s ease;
}

.catalog_wrapper {
  background-color: #849d8f;
}

.site_wrapper::before,
.site_wrapper::after {
  content: "";
  
  visibility: hidden;
}

.site_wrapper::before {
  background-image: url(../img/icecream_21-compressor.png);
}

.site_wrapper::after {
  background-image: url(../img/icecream_31-compressor.png);
}

.page_wrapper {
  position: relative;
  
  margin: 0 auto;
  padding: 0 27px;
  width: 1146px;
}

.clearfix::after {
  content: "";
  
  clear: both;
  display: table;  
}

.normal_button {
  display: inline-block;
  padding: 10px 20px;
  vertical-align: top;
  
  font-size: 16px;
  line-height: 24px;
  font-weight: 700; 
  
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  
  
  background: #f26843;  
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);  
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: 0;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);  
  cursor: pointer;
}

.normal_button:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.normal_button:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER */

.glaccy_logo {
  float: left;
  margin-top: 10px;  
  margin-left: -5px;
}

.main_menu {
  float: left;
  margin-top: 22px;
  margin-left: 15px;
  max-width: 670px;
}

.top_menu {
  margin: 0;
  padding: 0;
  
  font-size: 0;
  
  list-style: none;
}

.top_item {
  position: relative;
  
  display: inline-block;
  padding: 7px 14px;
  vertical-align: top;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  
  border: 0;
  border-radius: 25px;
}

.top_item:hover:not(.active_page) {
  background-color: #f8f7f4; 
}

.top_item:active:not(.active_page) {
  box-shadow: inset 0 2px 1px #696969;
}

.top_link {
  display: block;
  
  color: #fff;    
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}

.top_item:hover .top_link {
  color: #000;
  border-bottom: none;
}

.active_page {
  background-color: #d07058;
}

.active_page .top_link {
  border-bottom: none;
}

.active_page:hover .top_link {
  color: #fff;
}

.popup_menu {
  position: absolute;
  top: 30px;
  left: -6px;
  z-index: 1;
  
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  min-width: 145px;
      
  list-style: none;    
  border-radius: 5px;
  box-shadow: 0 10px 15px #56645c;  
}

.top_item:hover .popup_menu {
  display: block;
}

.popup_menu li {
  margin: 0;
  padding: 2px 0;
  width: 100%;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  
  background-color: #f8f7f4;
}

.popup_menu li:first-child {
  position: relative;
  
  padding: 4px 0;
  
  font-weight: 700;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.popup_menu li:first-child::after {
  content: "";
  
  position: absolute;
  bottom: 0;
  left: 8px;
  
  width: 128px;
  height: 1px;
  
  background-color: #d3d3d2;
}

.popup_menu li:last-child { 
  padding-bottom: 8px;
  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.popup_link { 
  display: block;
  margin: 0;
  padding: 6px 20px;
        
  color: #000;
  text-decoration: none;
}

.popup_link:hover:not(.active_section) {
  background-color: #fbded7;
}

.popup_link:active:not(.active_section) {
  background-color: #f6b5a5;
}

.active_section {
  color: #fff;
  background-color: #d07058;
}

.users {
  float: right;  
  margin: 0;
  margin-top: 23px;
  padding: 0;
  
  font-size: 0;
}

.users_wrapper {
  position: relative;
  
  display: inline-block;
  margin: 0;
  padding: 0;  
  vertical-align: top;
}

.users_button {
  display: block;   
  margin: 0;
  margin-right: 9px;
  padding: 8px 14px;
  vertical-align: top;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  
  color: #fff;
  background-color: rgba(248, 247, 244, 0.3);
  border: 0;
  border-radius: 25px;
  text-decoration: none;    
}

.users_wrapper:hover:not(.cart_wrapper) .users_button {
  color: #000;
  background-color: rgba(248, 247, 244, 1);
}

.search_button {
  padding: 0;
  width: 32px;
  height: 32px;
  
  font-size: 0;
  
  background-image: url(../img/sprites.png);
  background-repeat: not-repeat;
  background-position: 7px -193px;
  border-radius: 50%;
}

.search_wrapper:hover .search_button {
 background-position: 7px -243px; 
}

.login_button {
  position: relative;
  
  padding-left: 45px;
}

.login_button::before {
  content: "";
  
  position: absolute;
  top: 4px;
  left: 16px;
  
  width: 25px;
  height: 25px;
  
  background: url(../img/sprites.png) no-repeat;
  background-position: 0 -97px;
}

.login_wrapper:hover .login_button::before {
  background-position: 0 -147px;
}

.cart_button {
  position: relative;
  
  margin-right: 0;
  padding-left: 45px;
  width: 60px;
}

.cart_button::before {
  content: "";
  
  position: absolute;
  top: 4px;
  left: 16px;
  
  width: 25px;
  height: 25px;
  
  background: url(../img/sprites.png) no-repeat;
  background-position: 0 3px;
}

.active_button {
  color: #000;
  background-color: rgba(248, 247, 244, 1);
}

.active_button::before {
  content: "";
  
  position: absolute;
  top: 4px;
  left: 16px;
  
  width: 25px;
  height: 25px;
  
  background: url(../img/sprites.png) no-repeat;
  background-position: 0 -47px;
}

.form_container {
  position: absolute;
  
  margin: 0;
  padding-top: 5px;
  
  border-radius: 5px;
  box-shadow: 0 10px 15px #56645c;
}

.users_form {
  margin: 0;
  padding: 18px 15px;
  
  background-color: #f8f7f4;
  border-radius: 5px;
}

.users_form input {
  display: block;
  padding: 8px 15px;
  box-sizing: border-box;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  
  color: #959595;
  border: 1px solid #dadada;
  border-radius: 5px;  
}

.users_form input:hover {
  padding: 7px 14px;
  
  border: 2px solid #dadada;
}

.users_form input:focus {
  padding: 7px 14px;
  
  border: 2px solid #8fbdec;
}

.form_button {
  padding: 10px 20px;
  
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  
  border: 0;  
}

.form_button:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.form_button:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.search_container {
  right: 9px;
  z-index: 3;
  
  display: none;
}

.search_wrapper:hover .search_container {
  display: block;
}

.search_form input {
  width: 315px;
}

.login_container {
  right: 9px;
  z-index: 4;
  
  display: none;
  
  font-size: 0;  
}

.login_wrapper:hover .login_container {
  display: block;
}

.login_form input {
  margin: 0;
  margin-bottom: 20px;
  width: 240px;
}

.sign_up {
  display: inline-block;
  margin: 0;
  margin-left: 22px;
  padding: 0;    
  vertical-align: top;
}

.login_form a {
  display: block;
  margin: 0;
  padding: 0;
  
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  
  color: #000;
}

.login_form a:hover {
  color: #e84d37;
}

.login_form a:active {
  color: #e84d37;
}

.cart_wrapper .cart_container {
  right: 0;
  z-index: 5;
  
  display: none;  
}

.cart_wrapper:hover .cart_container {
  display: block;
}

.cart_items {
  min-width: 540px;
  
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  
  color: #000;
  border-collapse: collapse;
}

.cart_items td {
  padding: 0;
  padding-bottom: 18px;
  padding-left: 10px;
}

.cart_items td:first-of-type {
  padding-left: 0;
}

.cart_items td:nth-of-type(3) {
  width: 260px;
}

.cart_items tr:last-of-type {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  
  text-align: right;
  border-top: 1px solid #d9d9d9;
}

.cart_items tr:last-of-type td {
  padding-top: 18px;
}

.product_delete {
  position: relative;
  
  width: 12px;
  height: 12px;
  
  font-size: 0;
  
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.product_delete::before,
.product_delete::after {
  content: "";
  
  position: absolute;
  top: 1px;
  left: 0px;

  width: 15px;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
}

.product_delete::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product_delete::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart_form .form_button {
  float: right;
}

.shop_info {
  position: absolute;
  top: 71px;
  right: 27px;
}

.shop_work {
  margin-bottom: 4px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  
  text-align: right;
}

.shop_tel {
  margin: 0;
  margin-left: 8px;
  padding: 0;
  
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  
  color: #fff;
  text-decoration: none;
}

/* MAIN */

/* index */

.slider {
  position: relative;
  
  padding-top: 314px;
  
  text-align: center;
}

.slider_item {
  display: none;
}

.slider_title {  
  margin: 0 auto;
  margin-bottom: 30px;
  width: 700px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider_button {
  padding: 13px 42px;
  
  font-size: 31px;
  line-height: 41px;
}

.slider_controls {
  position: absolute;
  bottom: 22px;
  left: 0;  
  z-index: 20;
}

.slider_controls label {
  display: inline-block;
  margin-right: 4px;
  width: 17px;
  height: 17px;    
  vertical-align: top;
  
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider_controls label:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#button_first:checked ~ .site_wrapper #slider_first,
#button_second:checked ~ .site_wrapper #slider_second,
#button_third:checked ~ .site_wrapper #slider_third {
  display: block
}

#button_first:checked ~ .site_wrapper label[for="button_first"],
#button_second:checked ~ .site_wrapper label[for="button_second"],
#button_third:checked ~ .site_wrapper label[for="button_third"]{
  background-color: #fff;
}

#button_first:checked ~ .site_wrapper {
  background-color: #849d8f;
  background-image: url(../img/icecream_11-compressor.png);
}

#button_second:checked ~ .site_wrapper {
  background-color: #8996a6;
  background-image: url(../img/icecream_21-compressor.png);
}

#button_third:checked ~ .site_wrapper {
  background-color: #9d8b84;
  background-image: url(../img/icecream_31-compressor.png);
}

.banners_item {
  margin: 40px 0;
  padding: 15px 0;
  padding-left: 18px;
  padding-right: 20px;
  width: 560px;
  min-height: 230px;      
  box-sizing: border-box;
  
  border: 0;
  border-radius: 15px;
}

.banners_left {
  float: left;
  
  background: #d13153 url(../img/raspberry.jpg) no-repeat;
}

.banners_right {
  float: right;
  
  background: #5d3b22 url(../img/chocolate.jpg) no-repeat;
}

.banners_item h2 {
  margin: 0;
  
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banners_item p {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 45px;
  
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
}

.banners_button {
  float: right;
  padding: 11px 22px;
  
  font-size: 18px;
  line-height: 24px;
}

.products {
  font-size: 0;
}

.products_item {
  position: relative;
  
  display: inline-block;  
  margin: 0;
  margin-right: 26px;
  margin-bottom: 39px;
  width: 267px;
  vertical-align: top;
  
  text-align: center;
}

.products_item:nth-child(4n) {
  margin-right: 0;
}

.products_info {
  position: relative;
  
  min-height: 320px;
}

.products_hits::before {
  content: "";
  
  position: absolute;
  
  width: 60px;
  height: 60px;
  
  background: url(../img/sprites.png) no-repeat;
  background-position: -200px 0;
  border-radius: 50%;
}

.products_price {
  position: absolute;
  top: 203px;
  left: 0;
  
  font-size: 29px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #959595;
}

.products_price span {
  padding-right: 27px;
  
  font-size: 45px;
}

.products_price span::after {
  content: "";
  
  position: absolute;
  top: 11px;
  right: 41px;
  
  width: 31px;
  height: 36px;
  
  background: url(../img/sprites.png) no-repeat;
  background-position: 0 -400px;
}

.products_image {
  margin-bottom: 11px;
}

.products_name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #ddd;  
  text-decoration: none;
}

.products_name:hover {
  color: #ffbc9e;
}

.products_name:active {
  color: #ffbc9e;
}

.products_hover {
  position: absolute;
  top: -5px;
  left: -10px;
  right: -10px;
  bottom: -75px;
  z-index: 20;
  
  display: none;
  
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.products_button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  
  display: none;
  margin-top: 10px;
  padding: 11px 5px;
  min-width: 195px;
  box-sizing: border-box;
  
  font-size: 18px;
  line-height: 24px;
  
  -webkit-transform: translateX(-50%);
  
          transform: translateX(-50%);
}

.products_item:hover .products_name {
  border-bottom: none; 
}

.products_item:hover .products_info {
  z-index: 25;
}

.products_item:hover .products_hover,
.products_item:hover .products_button {
  display: block;  
}

.features {
  margin-bottom: 40px;
  padding: 0 18px;
  padding-top: 22px;
  padding-bottom: 3px;
  
  font-size: 0;
  
  color: #000;
  background: #e9dcc4 url(../img/vafer.jpg);
  border-radius: 15px;
}

.features_title {
  margin: 0;
  margin-bottom: 23px;
  
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features_item {
  position: relative;
  
  display: inline-block;  
  margin: 0;
  margin-right: 28px;
  margin-bottom: 22px;
  padding-left: 57px;
  width: 540px;
  box-sizing: border-box;
  vertical-align: top;
  
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;  
}

.features_item:nth-child(odd) {
  margin-right: 0;
}

.features_item::before {
  content: "";
  
  position: absolute;
  top: -13px;
  left: 2px;
  
  width: 49px;
  height: 49px;
  
  background: url(../img/sprites.png) no-repeat;
  border-radius: 50%;
}

.features_production::before {
  background-position: -100px 0;
}

.features_purchase::before {
  background-position: -100px -100px;
}

.features_ingridients::before {
  background-position: -100px -200px;
}

.features_shipping::before {
  background-position: -100px -300px;
}

.news_item {  
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  width: 560px;
  box-sizing: border-box;
}

.news_blog {
  float: left;
  padding: 22px 20px;
  padding-right: 225px;
  min-height: 220px;
  
  background: #fff url(../img/strawberry.jpg) no-repeat;
  border-radius: 15px;
}

.news_blog p {
  margin: 0;
  margin-bottom: 4px;
  
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  
  color: #000;
}

.news_blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  
  color: #000;
}

.news_blog a:hover {
  color: #e84d37;
}

.news_blog a:active {
  color: #e84d37;
}

.news_subscribe {
  float: right;
  padding: 6px;
  
  background: #fff url(../img/post.png);
  border-radius: 15px;
}

.subscribe_wrapper {
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 33px;
  
  background: #f8f7f4;
  border-radius: 15px;
}

.subscribe_wrapper p {
  margin: 0;
  margin-bottom: 35px;
  
  font-size: 16px;
  line-height: 22px;
  font-weight: 400; 
  
  color: #000;   
}

.subscribe_wrapper form {
  font-size: 0;
}

.subscribe_wrapper input {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 12px;
  width: 368px;
  box-sizing: border-box;
  vertical-align: top;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  
  color: #959595;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.subscribe_wrapper input:hover {
  padding: 9px 11px;
  
  border: 2px solid #dadada;
}

.subscribe_wrapper input:focus {
  padding: 9px 11px;
  
  border: 2px solid #8fbdec;
}

.contacts {
  position: relative;
  
  padding: 0;
  min-height: 430px;
  
  background: url(../img/map.png) no-repeat center;  
  background-size: cover;
}

.contacts_map {
  position: absolute;
  z-index: 25;
  
  display: block;
}

.contacts::before {
  content: "";
  
  position: absolute;
  top: 135px;
  left: 280px;
  z-index: 20;
  
  width: 218px;
  height: 142px;
  
  background: url(../img/sprites.png) no-repeat;
  background-position: -201px -101px;  
}

.contacts_block {
  position: relative;
  z-index: 30;
  
  float: right;
  margin: 0;
  margin-top: 62px;
  padding: 0 24px;
  padding-top: 28px;
  padding-bottom: 30px;
  width: 301px;
  box-sizing: border-box;
  
  background-color: #fefefe;
  border-radius: 15px;
}

.contacts_block p {
  margin: 0;
    
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  
  color: #000;
}

.contacts_block p:last-of-type {
  margin-top: 16px;
  margin-bottom: 29px;
}

.contacts_block span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.contacts_block a {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  
  text-decoration: none;
}

.contacts_block .normal_button {
  padding-left: 25px;
  padding-right: 25px;
  
  font-size: 18px;
  line-height: 24px;
}

@-webkit-keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.feedback_form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  
  display: none;
  margin-top: -227px;
  margin-left: -240px;
  padding: 0 22px;
  padding-top: 20px;
  padding-bottom: 26px;
  width: 480px;
  box-sizing: border-box;
  
  border-radius: 15px;
  background-color: #f8f7f4;  
}

.feedback_show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.feedback_error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback_form form {
  position: relative;
}

.feedback_form p {
  margin: 0;
  margin-bottom: 20px;
  
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  
  color: #000;
}

.feedback_close {
  position: absolute;
  top: 26px;
  right: 22px;
  
  width: 18px;
  height: 18px;
  
  font-size: 0;
  
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.feedback_close::before,
.feedback_close::after {
  content: "";
  
  position: absolute;
  top: 9px;
  right: -2px;
  
  width: 21px;
  height: 2px;
  
  background-color: #000;
  border-radius: 1px;
}

.feedback_close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback_close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback_form label {
  position: absolute;
  
  display: none;
  margin-left: 14px;
  
  font-size: 11px;
  line-height: 13px;
  
  color: #959595;
}

.feedback_form label[for="name"] {
  top: 32px;
}

.feedback_form label[for="email"] {
  top: 100px;
}

.feedback_form label[for="comments"] {
  top: 168px;
}

.feedback_form input {
  display: block;
  margin-bottom: 22px;
  padding: 10px 12px;
  width: 270px;
  box-sizing: border-box;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  
  color: #000;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.feedback_form textarea {
  margin-bottom: 22px;
  padding: 10px 12px;
  width: 436px;
  box-sizing: border-box;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500px;
  
  color: #000;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.feedback_form input:hover,
.feedback_form textarea:hover {
  padding: 9px 11px;
  
  border: 2px solid #dadada;
}

.feedback_form input:focus,
.feedback_form textarea:focus{
  padding: 9px 11px;
  
  border: 2px solid #8fbdec;
}

.feedback_form input:focus::-moz-placeholder,
.feedback_form textarea:focus::-moz-placeholder {
  color: #959595;
}

.feedback_form input:focus::-webkit-input-placeholder,
.feedback_form textarea:focus::-webkit-input-placeholder {
  color: #959595;
}

.feedback_form input:focus:-ms-input-placeholder,
.feedback_form textarea:focus:-ms-input-placeholder {
  color: #959595;
}

.feedback_form input:focus::-ms-input-placeholder,
.feedback_form textarea:focus::-ms-input-placeholder {
  color: #959595;
}

.feedback_form input:focus::-webkit-input-placeholder,
.feedback_form textarea:focus::-webkit-input-placeholder {
  color: #959595;
}

.feedback_form input:focus::-moz-placeholder,
.feedback_form textarea:focus::-moz-placeholder {
  color: #959595;
}

.feedback_form input:focus:-ms-input-placeholder,
.feedback_form textarea:focus:-ms-input-placeholder {
  color: #959595;
}

.feedback_form input:focus::placeholder,
.feedback_form textarea:focus::placeholder {
  color: #959595;
}

.feedback_form input:focus::-moz-placeholder,
.feedback_form textarea:focus::-moz-placeholder {
  color: transparent;
}

.feedback_form input:focus::-webkit-input-placeholder,
.feedback_form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.feedback_form input:focus:-ms-input-placeholder,
.feedback_form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.feedback_form input:focus::-ms-input-placeholder,
.feedback_form textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.feedback_form input:focus::-webkit-input-placeholder,
.feedback_form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.feedback_form input:focus::-moz-placeholder,
.feedback_form textarea:focus::-moz-placeholder {
  color: transparent;
}

.feedback_form input:focus:-ms-input-placeholder,
.feedback_form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.feedback_form input:focus::placeholder,
.feedback_form textarea:focus::placeholder {
  color: transparent;
}

.feedback_form input:valid + label,
.feedback_form textarea:valid + label {
  display: block;
}

.feedback_form input:focus + label,
.feedback_form textarea:focus + label {
  display: block; 
  
  color: #5b9ddf;
}

.feedback_button {
  float: right;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 45;
  
  display: none;
  width: 100%;
  height: 100%;
  
  background: rgba(0, 0, 0, 0.3);  
}

.overlay_show {
  display: block;
}

/* catalog */

.breadcrumbs {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 7px;
  
  font-size: 0;
}

.breadcrumbs_item {
  position: relative;
  
  display: inline-block;
  margin-right: 21px;
  vertical-align: top;
    
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  
  color: #fff;  
}

.breadcrumbs_item:hover {
  color: #ffbc9e;
}

.breadcrumbs_item:active {
  color: #ffbc9e;
}

.breadcrumbs_item::before, 
.breadcrumbs_item::after {
  content: "";
  
  position: absolute;
  
  width: 5px;
  height: 5px;
  
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.breadcrumbs a:last-of-type.breadcrumbs_item::before,
.breadcrumbs a:last-of-type.breadcrumbs_item::after {
  display: none;
}

.breadcrumbs_item::before {
  top: 6px;
  right: -12px;
  
  -webkit-transform: rotate(-45deg);
  
          transform: rotate(-45deg);
}

.breadcrumbs_item::after {
  top: 6px;
  right: -15px;
  
  -webkit-transform: rotate(-45deg);
  
          transform: rotate(-45deg);
}

h1 {
  margin: 0;
  margin-bottom: 28px;
  
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  
  letter-spacing: -1.2px;
}

.filters {  
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 0;
}

.filters_item {
  display: inline-block;
  padding-bottom: 15px;
  vertical-align: middle;
  
  font-size: 0;  
}

.filters_legend {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 9px;
  vertical-align: top;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;  
}

.filters_wrapper {
  position: relative;
  
  margin: 0;
  margin-right: 14px;
  padding: 5px 13px;
  
  font-size: 0;
  
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 50px;
}

.filters_wrapper input {
  display: none;
}

.filters_wrapper label {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  
  cursor: pointer;
}

.select_wrapper {
  padding: 6px 13px;
  
  font-size: 16px;  
  line-height: 18px;
}

.select_wrapper:hover {
  background-color: #fff;
}

.select_wrapper select {  
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  cursor: pointer;
}

.select_wrapper:hover select {
  color: #000;
  background-color: #fff;
}

.select_wrapper select:hover {
  color: #000;
  background-color: #fff;
}

.select_wrapper::before {
  content: "";
  
  position: absolute;
  top: 6px;
  right: 12px;
  
  width: 18px;
  height: 22px;
  
  background-color: #9db1a5;
  cursor: pointer;
}

.select_wrapper:hover.select_wrapper::before {
  color: #000;
  background-color: #fff;
}

.select_wrapper::after {
  content: "";
  
  position: absolute;
  top: 13px;
  right: 14px;
  
  width: 6px;
  height: 6px;
    
  background: -webkit-linear-gradient(45deg, #fff 50%, #9db1a5 50%);
    
  background: linear-gradient(45deg, #fff 50%, #9db1a5 50%);
  cursor: pointer;
  
  -webkit-transform: rotate(-45deg);
  
          transform: rotate(-45deg);
}

.select_wrapper:hover.select_wrapper::after {
  background: -webkit-linear-gradient(45deg, #000 50%, #fff 50%);
  background: linear-gradient(45deg, #000 50%, #fff 50%);
}

.prise_controls {  
  position: relative;
  
  display: inline-block;  
  vertical-align: top;
}

.prise_controls::after {
  content: "";
  
  position: absolute;
  top: 9px;
  right: 70px;
  
  width: 7px;
  height: 1px;
  
  background-color: #fff;
}

.prise_controls label {
  margin-right: 11px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.prise_controls input {
  margin-left: 4px;
  padding: 0;
  width: 28px;
  
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  
  color: #fff;  
  background: none;
  border: 0;
}

.range_controls {
  position: relative;  
  
  padding-top: 15px;
  padding-bottom: 15px;
  
  width: 195px;
}

.range_controls .scale {
  padding-left: 30px;
  padding-right: 60px;
  height: 4px;
  
  background-color: rgba(255, 255, 255, 0.5);
}

.range_controls .bar {
  height: 4px;
  
  background-color: #f8f7f4;
}

.range_toggle {
  position: absolute;
  top: 6px;
  
  width: 20px;
  height: 20px;
  
  background-color: #f8f7f4;
  border-radius: 50%;
  cursor: pointer;
}

.range_min {
  left: 36px;
}

.range_max {
  left: 134px;
}

.radio_wrapper {
  padding: 0;
  padding-top: 8px;
  padding-left: 0px;
}

.radio_wrapper label {
  position: relative;
  
  padding-left: 48px;
  padding-bottom: 8px;
}

.radio_wrapper label:last-of-type {
  padding-right: 18px;
}

.radio_wrapper label::before,
.radio_wrapper label::after {
  content: "";
  
  position: absolute;
}

.radio_wrapper label::before {
  top: -1px;
  left: 17px;
  
  width: 18px;
  height: 18px;
  
  border: 1px solid #fff;
  border-radius: 100%;
}

.radio_wrapper label::after {
  top: 3px;
  left: 21px;
  
  width: 12px;
  height: 12px;
  
  border: 0;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  background-color: #fff;
}

.radio_wrapper label:hover::before {
  width: 16px;
  height: 16px;
  
  border-width: 2px;
}

input[type="radio"]:disabled + label::after {
  background-color: rgba(255, 255, 255, 0.5);
}

input[type="radio"]:disabled + label::before {
  border-color: rgba(255, 255, 255, 0.5);
}

.checkbox_wrapper {
  padding: 0;
  padding-top: 8px;
}

.checkbox_wrapper label {
  position: relative;
  
  margin-right: 2px;
  padding-left: 50px;
  padding-bottom: 8px;
}

.checkbox_wrapper label:last-of-type {
  margin-right: 20px;
}

.checkbox_wrapper label::before,
.checkbox_wrapper label::after {
  content: "";
  
  position: absolute;
}

.checkbox_wrapper label::before {
  top: -1px;
  left: 17px;
  
  width: 19px;
  height: 19px;
  
  border: 1px solid #fff;
  border-radius: 4px;
}

.checkbox_wrapper label::after {
  top: 4px;
  left: 22px;
  
  width: 9px;
  height: 5px;
  
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  
  -webkit-transform: rotate(-45deg);
  
          transform: rotate(-45deg);
}

input[type="checkbox"]:checked + label::after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.checkbox_wrapper label:hover::before {
  width: 17px;
  height: 17px;
  
  border-width: 2px;
}

input[type="checkbox"]:disabled + label::after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

input[type="checkbox"]:disabled + label::before {
  border-color: rgba(255, 255, 255, 0.5);
}

.filters_button {
  display: inline-block;
  margin-bottom: 15px;
  padding: 6px 29px;
  vertical-align: bottom;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  
  color: #fff;  
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 50px;  
  cursor: pointer;
}

.filters_button:hover {
  color: #000;
  background-color: #fff;
}

.filters_button:active {
  padding: 8px 28px;
  
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0 2px 1px #6c6d6c;
}

.pagination {  
  float: right;
  margin: 0;
  margin-top: 43px;
  margin-bottom: 30px;  
  
  font-size: 0;
}

.pagination a {
  display: inline-block;
  vertical-align: middle;
  
  text-decoration: none;  
}

.pagination a:last-of-type {
  margin-right: 0;
}

.pagination_previos,
.pagination_next {
  width: 8px;
  height: 8px;
  
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.pagination_previos {
  margin-right: 9px;
  
  border-color: rgba(255, 255, 255, 0.4);
  
  -webkit-transform: rotate(135deg);
  
          transform: rotate(135deg);
}

.pagination_next {
  margin-left: 12px;
  
  -webkit-transform: rotate(-45deg);
  
          transform: rotate(-45deg);
}

.pagination_number {
  margin-right: 2px;
  padding: 4px 0;
  padding-left: 8px;
  padding-right: 10px;
    
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  
  color: #fff;
  border-radius: 50%;
}

.pagination_active {
  color: #000;
  background-color: #fff;
}

.pagination_number:hover:not(.pagination_active) {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination_number:active:not(.pagination_active) {
  color: #000;
  background-color: #fff;
}

/* FOOTER */

.page_footer {
  padding: 20px 0;
}

.networks {
  float: left;
  margin: 0;
  margin-top: 17px;  
    
  font-size: 0;
}

.networks_item {
  display: inline-block;  
  margin: 0;
  margin-right: 11px;
  width: 32px;
  height: 32px;
  vertical-align: top;
  
  background: url(../img/sprites.png) no-repeat;
  border: 3px solid #c2cec7;
  border-radius: 100%;    
}

.networks_item:active {
  box-shadow: inset 0 3px 2px #9a9b9b;
}

.networks :last-child {
  margin-right: 0;
}

.networks_tw {
  background-position: -201px -299px;
}

.networks_inst {
  background-position: -300px -301px;
}

.networks_fb {
  background-position: -200px -400px;
}

.networks_vk {
  background-position: -300px -400px;
}

.support_menu {
  float: left;
  margin-top: 13px;
  margin-left: 205px;
  width: 400px;
    
  font-size: 0;
}

.support_menu ul {
  display: inline-block;
  margin: 0;
  padding: 0; 
  vertical-align: top;
    
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  
  list-style: none;    
}

.support_menu a {  
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 31px;
  padding-bottom: 5px;
  
  color: #fff;
}

.support_menu a:hover {
  color: #ffbc9e;
}

.support_menu a:active {
  color: #ffbc9e;
}

.support_link {
  position: relative;
  
  font-weight: 700;
}

.support_link::before {
  content: "";
  
  position: absolute;
  top: 4px;
  left: 10px;
  
  width: 15px;
  height: 15px;
  
  background: url(../img/sprites.png) no-repeat;
  background-position: -300px 0px;
}

.copyright {
  float: right;
}

.copyright p {
  margin: 0;
  
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.copyright a {
  color: #fff;
}

.copyright a:hover {
  color: #ffbc9e;
}

.copyright a:active {
  color: #ffbc9e;
}


